[submodule "External/Valet"]
	path = External/Valet
	url = https://github.com/square/Valet.git
[submodule "External/verso-ios"]
	path = External/verso-ios
	url = https://github.com/shopgun/verso-ios.git
[submodule "External/Kingfisher"]
	path = External/Kingfisher
	url = https://github.com/onevcat/Kingfisher.git
[submodule "External/incito-ios"]
	path = External/incito-ios
	url = https://github.com/shopgun/incito-ios.git
[submodule "External/swift-future"]
	path = External/swift-future
	url = https://github.com/shopgun/swift-future.git
