<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GraphAPI</key>
	<dict>
		<key>key</key>
		<string>graphapi-file-key</string>
	</dict>
	<key>CoreAPI</key>
	<dict>
		<key>key</key>
		<string>coreapi-file-key</string>
		<key>secret</key>
		<string>coreapi-file-secret</string>
	</dict>
	<key>EventsTracker</key>
	<dict>
		<key>appId</key>
		<string>eventstracker-appId</string>
	</dict>
</dict>
</plist>
