//
//  _____ _           _____
// |   __| |_ ___ ___|   __|_ _ ___
// |__   |   | . | . |  |  | | |   |
// |_____|_|_|___|  _|_____|___|_|_|
//               |_|
//
//  Copyright (c) 2016 ShopGun. All rights reserved.


SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 7.0

// Supported device families (1 is iPhone, 2 is iPad, 3 is Apple TV)
TARGETED_DEVICE_FAMILY = 1,2

// Where to find embedded frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

ALWAYS_SEARCH_USER_PATHS = NO


// Logic Tests
BUNDLE_LOADER = $(TEST_HOST)

OTHER_LDFLAGS = $(inherited) -ObjC -framework XCTest
