//
//  _____ _           _____
// |   __| |_ ___ ___|   __|_ _ ___
// |__   |   | . | . |  |  | | |   |
// |_____|_|_|___|  _|_____|___|_|_|
//               |_|
//
//  Copyright (c) 2016 ShopGun. All rights reserved.

#include "Shared/Platform/iOS.xcconfig"
#include "Shared/Product/LogicTests.xcconfig"
#include "Version.xcconfig"

PRODUCT_NAME = ShopGunSDK-Tests
PRODUCT_BUNDLE_IDENTIFIER = com.shopgun.ios.sdk.tests

SWIFT_VERSION = 3.0

IPHONEOS_DEPLOYMENT_TARGET = 8.0

INFOPLIST_FILE = $(SRCROOT)/Resources/Info.plist
