//
//  _____ _           _____
// |   __| |_ ___ ___|   __|_ _ ___
// |__   |   | . | . |  |  | | |   |
// |_____|_|_|___|  _|_____|___|_|_|
//               |_|
//
//  Copyright (c) 2016 ShopGun. All rights reserved.

#include "Common/SharedFramework.xcconfig"
#include "Common/SDKVersion.xcconfig"

PRODUCT_NAME = ShopGunEvents
PRODUCT_BUNDLE_IDENTIFIER = com.shopgun.ios.sdk.events

SWIFT_VERSION = 2.3

IPHONEOS_DEPLOYMENT_TARGET = 8.0

INFOPLIST_FILE = $(SRCROOT)/Resources/Info.plist

// Enable testability to make internal things visible with @testable import
ENABLE_TESTABILITY = YES
