//
//  ┌────┬─┐         ┌─────┐
//  │  ──┤ └─┬───┬───┤  ┌──┼─┬─┬───┐
//  ├──  │ ╷ │ · │ · │  ╵  │ ╵ │ ╷ │
//  └────┴─┴─┴───┤ ┌─┴─────┴───┴─┴─┘
//               └─┘
//
//  Copyright (c) 2018 ShopGun. All rights reserved.

#include "Shared/Platform/iOS.xcconfig"
#include "Shared/Product/LogicTests.xcconfig"
#include "Version.xcconfig"

PRODUCT_NAME = ShopGunSDK-Tests
PRODUCT_BUNDLE_IDENTIFIER = com.shopgun.ios.sdk.tests

SWIFT_VERSION = 5.0

IPHONEOS_DEPLOYMENT_TARGET = 9.3

INFOPLIST_FILE = $(SRCROOT)/Resources/Info.plist
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
